@{
    var tasks = Webenable.Hangfire.Contrib.HangfireTaskRegister.Tasks.Values;
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Tasks</h1>
        @if (!tasks.Any())
        {
            <div class="alert alert-info">
                No tasks registered.
            </div>
        }
        else
        {
            @foreach (var task in tasks)
            {
                <div class="panel panel-default" style="max-width: 70rem">
                    <div class="panel-heading">
                        @task.Type.Name
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="tasks/trigger/@task.Type.Name" method="post">
                            @foreach (var param in task.Parameters)
                            {
                                <div class="form-group">
                                    <label for="@task.Type.Name-@param.Name" class="col-sm-3 control-label">@param.Name (<code>@param.Type.Name</code>)</label>
                                    <div class="col-sm-9">
                                        @if (param.Type == typeof(int))
                                        {
                                            <input type="number"
                                                   class="form-control"
                                                   id="@task.Type.Name-@param.Name"
                                                   name="@param.Name"
                                                   placeholder="@param.Name"
                                                   required />
                                        }
                                        @if (param.Type == typeof(string))
                                        {
                                            <textarea class="form-control"
                                                      id="@task.Type.Name-@param.Name"
                                                      name="@param.Name"
                                                      placeholder="@param.Name"
                                                      required></textarea>
                                        }
                                    </div>
                                </div>
                            }

                            <div class="pull-right">
                                <button name="trigger-job"
                                        onclick="trigger(this)"
                                        class="btn btn-primary"
                                        data-ajax="tasks/trigger/@task.Type.Name"
                                        data-loading-text="Triggering...">
                                    Trigger
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>
<script type="text/javascript">
    function trigger(el) {
        var $button = $(el);
        var $form = $button.closest('form');

        // Validate the form
        if (!$form[0].checkValidity()) {
            $form[0].reportValidity();
            console.warn('Invalid form', $form[0]);

            // Prevent the Hangfire event handler to fire which would trigger the task
            event.preventDefault();
            event.stopImmediatePropagation();
            return;
        }

        // Get the data from each field on the form and aggregate it into a single variable
        var args = '';
        $form.find('.form-control').each(function (i, e) {
            var val = $(e).val();
            if (val) {
                args += val + ';';
            }
        });

        // Replace the data-ajax attribute on the button which Hangfire uses to
        // POST to the server with a URL including the task arguments
        args = args.substring(0, args.length - 1);
        $button.data('ajax', $button.data('ajax') + '/' + encodeURIComponent(args));
    }
</script>